.classpath
.project
.settings/
target/
.idea

#Config files
config.service.ts
config.json

#other
mvnw
mvnw.cmd
/logs
command_output.log

# Properties
src/main/environment/common_local.properties

### Node.js ###
node_modules/
npm-debug.log
